# Archivos de caché del sistema operativo
.DS_Store
Thumbs.db

# Entornos virtuales de Python
.venv/
venv/
env/

# Archivos de caché y compilación de Python
__pycache__/
*.pyc

# Archivo de variables de entorno
.env

# Archivos de datos temporales
*.tmp
*.log
*.swp
*.bak
Temporal/